/*
 * Swatches
 * Gold #AB966F
 * Green #2DC50E
 */

* {
    color: #EEE;
    font-family: 'Alegreya Sans', sans-serif;
}

body {
	background-color: #000;
}

div.main {
	background-color: #555;
}

h1 {
	color: #AB966F;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 500;
    font-size: 2.5em;
}

h3 {
	color: #2DC50E;
	font-weight: 500;
	font-variant: small-caps;
	font-size: 1.8em;
}

/*
 * Reagents Block
 * Contains icons of each reagent
 * Also has styles for hover, selected, useless
 */
#reagents {
	width: 300px;
	margin: 20px;
	/*height: 600px;*/
	display: inline-block;
    float: left;
}

#reagents .squareReagent {
	float: left;
	width: 90px;
	margin: 2px 4px;
	height: 90px;
	text-align: center;
	vertical-align: middle;
	font-size: 0.8em;
	cursor: pointer;
}

#reagents .squareReagent span {
    color: #e2c693;
}

#reagents .squareReagent.positive img,
#reagents .squareReagent.negative img {
	width: 30px;
	height: 30px;
	margin: 20px 5px;
}

#reagents .squareReagent.active {
	border: 2px solid #DDD;
	margin: 0px 2px;
}

#reagents span.effects {
	display: inline-block;
	vertical-align: top;
	padding-top: 15px;
	max-width: 50px;
    font: 0.8em;
}

#reagents span.effects span {
	display: block;
    font: 0.8em;
}

#reagents .squareReagent img,
#reagents .squareReagent.in_potion img {
	margin: 10px;
	width: 50px;
	height: 50px;
}

#reagents div.in_potion span.effects { display: none; }

#reagents div.disabled {
	opacity: 0.8;
	background-color: transparent;
}
#reagents div.disabled img {
	opacity: 0.3;
}

#reagents div.disabled span {
    color: #CCC;
}

#reagents .positive,
#effects .in_potion.positive {
	background-color: #363;
}

.in_potion,
#effects .active {
    background-color: #247;
}

#reagents .negative,
#effects .in_potion.negative {
	background-color: #633;
}

#reagents .positive.negative {
	background-color: #663;
}

#reagents button {
	background-color: #332;
	border: 1px solid #AB966F;
	width: 100px;
	margin: 0px;
}

#reagents button:hover {
	background-color: $444;
	color: #EEE;
}

/*
 * Current block
 * Contains info on the current potion
 */

#current {
	width: 600px;
	margin: 20px;
    height: 600px;
	display: inline-block;
	float: left;
}

#selected {
    height: 300px;
}

#selected #mixer {
	width: 300px;
	display: inline-block;
    float: left;
}

#selected #mixer .reagent {
	height: 70px;
	margin-top: 25px;
	margin-left: 40px;
	vertical-align: middle;
	color: #2DC50E;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
}

#selected #mixer .reagent img {
	width: 50px;
	height: 50px;
	margin-right: 5px;
    vertical-align: middle;
}

#selected #potion {
	width: 290px;
	margin-left: 5px;
	display: inline-block;
	float: left;
}

#selected #potion .effect {
	margin: 0.2em;
	min-height: 1em;
	font-size: 1.8em;
	font-weight: 500;
}

#selected #potion .effect.inactive {
	color: #777;
    font-weight: 300;
    font-size: 1.1em;
}

/*
 * General effect formatting
 */
#effects {
	width: 200px;
	/*height: 590px;*/
	margin: 20px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
    font-family: 'Alegreya Sans', sans-serif;
    padding-top: 10px;
}

#effects .effect {
	font: 1.1em;
	padding-top: 0.15em;
	padding-bottom: 0.15em;
	cursor: pointer;
}

#effects .possible {
	background-color: #666;
}

#effects .effect.hover {
	background-color: #444;
}

.effect.positive {
	color: #AB966F;
}

.effect.negative {
    color: #AB6F6F;
}

/*
 * Detail
 * Shows info for the hovered ingredient
 */

#detail {
	margin-top: 40px;
	height: 260px;
}

#lg_img {
	width: 64px;
	height: 100px;
	display: inline-block;
    vertical-align: middle;
    float: left;
    margin: 20px;
    margin-left: 60px;
}

#lg_title {
    display: inline-block;
    margin: 20px;
    width: 400px;
    height: 100px;
    vertical-align: middle;
    color: #2DC50E;
    font-weight: 500;
    font-variant: small-caps;
    font-size: 2.5em;
    float: left;
}

#detail .effect {
	display: inline-block;
	width: 220px;
	height: 1em;
	color: #AB966F;
	margin-left: 50px;
	margin-bottom: 2em;
	font-size: 1.2em;
}

/* Bugfix for Luminous Russala */
/*#rlr .name {
	position: relative;
	top: -1.2em;
}*/
